@charset "UTF-8";

@charset "UTF-8";

.footer {
    background-color: #f8f9fa;
    padding: 20px 20px;
    border : 1px solid #ddd;
}

.footer nav {
    list-style: none; /*점 삭제*/
    display: flex; 
    justify-content: center;
    text-decoration: none; /*밑줄 제거*/
    color: black;
    font-weight: bold;
    padding: 15px 15px;
}

