@charset "UTF-8";

.layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.content {
    display: flex;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.left-frame {
    width: 20%;
}

.center-frame {
    width: 80%;
}